@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

* {
  .space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: auto;
    font-style: normal;
  }

  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: auto;
    font-style: normal;
  }

  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: auto;
    font-style: italic;
  }

  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: auto;
    font-style: italic;
  }
}

@theme {
  --color-expense: #7e69ab;
  --color-expense-light: #9b87f5;
  --color-expense-dark: #6e59a5;
}
